<!DOCTYPE html>
<html>
  <head>
    <title>SearchRealTime</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <div class="container mx-auto my-16 lg:px-10 px-4">
  <%= link_to "Back To Articles", root_path, class: "px-4 py-3 font-medium
  inline-block p-6 bg-gradient-to-bl from-green-400 to-blue-400 rounded flex items-center cursor-pointer hover:bg-orange-400 focus:ring-4 ring-0 focus:ring-orange-100" %>
  <%= link_to "Check Analytics Here", searches_path, class: "px-4 py-3 font-medium
  inline-block p-6 bg-gradient-to-bl from-green-400 to-blue-400 rounded flex items-center cursor-pointer hover:bg-orange-400 focus:ring-4 ring-0 focus:ring-orange-100" %>
    <%= yield %>
  </div>
  </body>
</html>
